streamlit
transformers
torch
spacy==3.4.4
blis==0.7.9
keybert
pytesseract
pdfplumber
PyMuPDF
docx2txt
opencv-python
pandas
numpy
matplotlib
seaborn
scikit-learn
nltk
Pillow

# ✅ Prebuilt spaCy model compatible with 3.4.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
